page-orderlist {
.address{
    width:100%;
    height:7rem;
    background-color: #eeeeee;
    margin-top: 0.5rem;
    border:0.3rem dashed;
    border-color: rgb(240, 61, 61);
    // -webkit-border-image:url('../assets/imgs/order.png') 30 30 round;
    // -o-border-image:url('../assets/imgs/order.png') 30 30 round;
    // border-image: url('../assets/imgs/order.png') 30 30 round;
}
.message{
    font-size: 1.4rem;
    color:#727171;
    padding-top:2.2rem;
    margin-top:-1rem;
    margin-left:1rem;
}
.ordis{
    width: 20px;
    height: 8px; 
     transform:skew(-30deg);   
     -webkit-transform: skew(-30deg);   
     -moz-transform: skew(-30deg);   
     -o-transform:skew(-30deg);   
     -ms-transform:skew(-30deg);  
      background-color: rgb(107, 150, 230); 
      margin: 50px auto; 
}
.col{
    font-size: 1.6rem;
    color:#727171;
}
span{
    padding-left: 2rem;
}
.transition{
    background-color: #eeeeee;
    height: 0.8rem;
}    
.row{
    margin-top: 1rem;
}
.col-cc{
    padding:0.8rem;
    width:8rem;
     height:2.2rem; 
     border: 0.1rem solid #bdbaba;
     -moz-border-radius: 1.2rem; 
    -webkit-border-radius: 1.2rem;   
      border-radius:1.2rem; 
      background-color:#fff; 
      margin:0.5rem;
      margin-top:-0.2rem;
      font-size:1.4rem;
      padding-bottom: 1.6rem;
        
}
.md-happy{
    color: rgb(109, 203, 247);
    padding-right: 1rem;
    font-size: 3rem;
}
.img{
    height: 8rem;
    width: 8rem;
    display: block;
    margin: 0 auto;
    float: left;
}
}
