page-moneyrecord {
    .memo{
        margin-bottom:25px!important;
        white-space:normal;
        word-wrap:break-word;
        // height: 50px!important;
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
}
