page-paysuccess {

    .img{
        margin: 10% auto 10% auto;
        display: block;
    }
    .nav_button{
        text-align: center;
        .home_button{
            margin-right: 15%;
        }
    }
}
